<!DOCTYPE html>
<html lang="en" data-theme="light" class="has-background-white-ter">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Planning Poker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>

        <%- include ('partials/header') %>

        <main class="has-text-dark" x-data="room">
            <div class="container my-5">
                <!-- FORM CREATE ROOM -->
                <div class="columns px-5">
                    <div class="column is-8 is-mobile" x-show="joined">cards</div>
                    <div class="column is-4 is-mobile" x-show="joined">
                        <article class="panel is-primary player-list">
                            <p class="panel-heading">Players</p>
                            <template x-for="(player, index) in players" :key="player + index">
                                <div class="is-flex is-align-items-center px-4 pt-4 pb-2 mb-0">
                                    <div class="mr-3">
                                        <img :src="`/icons/avatar-${avatarIndex[index+1]}.svg`" alt="Avatar" class="is-full img-avatar">
                                    </div>
                                    <div class="">
                                        <a class="panel-block p-0 has-text-weight-medium" x-text="player"></a>
                                    </div>
                                </div>
                            </template>
                        </article>
                    </div>

                    <div class="card column is-6 is-offset-3 is-mobile" x-show="!joined">
                        <div class="card-content">
                            <div class="content">
                                <div
                                    class="notification is-danger is-light"
                                    x-show="changeNameForm.responseError"
                                >
                                    <button
                                        class="delete"
                                        @click="changeNameForm.responseError = false"
                                    ></button>
                                    <p x-text="changeNameForm.responseError"></p>
                                </div>

                                <form action="/room" method="POST" @submit.prevent="joinRoom">
                                    <label class="label">Enter Your Name</label>
                                    <div class="control">
                                        <input
                                            :class="changeNameForm.error ? 'is-danger input is-medium': 'input is-medium'"
                                            type="text"
                                            x-model="playerName"
                                            placeholder="Enter your name"
                                        />
                                        <small x-show="changeNameForm.error" class="has-text-danger"
                                            >You must enter a name to enter the room</small
                                        >
                                    </div>
                                    <button
                                        :class="changeNameForm.loading ? 'is-loading button is-primary mt-4': 'button is-primary mt-4'"
                                    >
                                        Save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/room.js"></script>
    </body>
</html>
